@font-face {
  font-family: "Poppins";
  src: url("../Font/Poppins/Poppins-Regular.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Poppins" !important; do not use in "*" because font-awesome do not work after that*/
}

body {
  margin: 0px !important;
  padding: 0px !important;
  box-sizing: border-box;
  font-family: "Poppins" !important;
}

a {
  color: #000;
  text-decoration: none;
}

.main_content {
  display: flex;
  width: 100%;
}

/* =========== Sitebar ============= */
ul.item_menu a {
  color: #858585;
  font-size: 12.2px;
  display: flex;
  align-items: center;
  font-weight: 400;
  /* letter-spacing: 0.5px; */
}

.site_bar_close_arrow svg {
  width: 5px;
}

ul.item_menu a:hover {
  color: #ffd700;
  font-weight: 500;
}

ul.item_menu a.active {
  color: #ffd700;
  font-weight: 500;
}

ul.item_menu a.active path {
  fill: #ffd700;
}

ul.item_menu a img {
  margin-right: 10px;
  width: 18px;
}

ul.item_menu li {
  padding: 0px 0;
  height: 32px;
  list-style: none;
}

ul.item_menu li svg {
  width: 16px;
  margin-right: 9px;
}

ul.item_menu {
  padding: 0 15px;
  padding-top: 10px;
}

.Logo_site_bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  position: relative;
}

.sitebar.close_sitebar .site_user img {
  width: 40px;
  height: 40px;
  margin-right: 0;
}

.sitebar.close_sitebar a.site_user {
  justify-content: space-evenly;
  padding: 16px 0;
  width: 48px;
  margin: 0 auto;
  margin-bottom: 15px;
}

.close_icon_site_right_arrow svg {
  width: 40px;
  height: 40px;
  margin: 0 auto;
  cursor: pointer;
}

.close_icon_site_right_arrow {
  margin-top: 20px;
  text-align: center;
}

.sitebar.close_sitebar ul.item_menu a.active {
  background: #ffd700;
}

.sitebar.close_sitebar ul.item_menu a.active svg path {
  fill: #000000;
}

.sitebar.close_sitebar ul.item_menu a {
  font-weight: 500;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sitebar.close_sitebar ul.item_menu li {
  padding: 0px 0;
  height: 40px;
  list-style: none;
}

.sitebar.close_sitebar .site_bar_close_arrow {
  position: absolute;
  right: 6px;
}

.sitebar.close_sitebar .Logo_site_bar {
  position: relative;
  justify-content: center;
  margin-top: 14px;
}

.sitebar.close_sitebar ul.item_menu a svg {
  margin: 0;
}

.site_user_arrow img {
  margin: 0;
}

.Logo_site_logo_text {
  display: flex;
  align-items: center;
}

.Logo_site_logo_text img {
  margin-right: 7px;
  width: 105px;
}

.site_user_flex_img {
  display: flex;
  align-items: center;
}

.sitebar {
  width: 230px;
  background: #0a0a0a;
  color: #fff;
  height: 100%;
  max-width: 100%;
  flex-shrink: 0;
  position: relative;
  transition-property: all;
}

.sitebar.close_sitebar,
.sitebar.close_sitebar .sitebar_box_fix {
  width: 70px;
}

.sitebar.close_sitebar .sitebar_box_fix {
  padding: 0;
}

.sitebar.close_sitebar .si_bar_close_div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sitebar.close_sitebar ul.item_menu {
  padding: 0 0;
  padding-top: 0px;
}

img.CLOSE_LOG_bar {
  width: 19px;
}

.main_container {
  display: flex;
}

.sitebar_box_fix {
  overflow: scroll;
  height: 100vh;
  position: fixed;
  width: 230px;
  background: #0a0a0a;
  left: 0;
  top: 0;
  padding: 12px 16px;
  padding-top: 23px;
}

.sitebar_box_fix::-webkit-scrollbar {
  display: none;
}

.site_user {
  display: flex;
  align-items: center;
  border-bottom: 0.37px solid #aeb0b763;
  padding: 19px 0;
  margin-bottom: 16px;
  justify-content: space-between;
}

.site_user img {
  width: 38px;
  height: 38px;
  margin-right: 7px;
}

.site_user_name_mial h3 {
  font-size: 12px;
  font-weight: 400;
  margin: 0;
  color: #fff;
  padding-bottom: 4px;
}

.site_user_name_mial p {
  color: #858585;
  font-size: 10px;
  font-weight: 400;
  margin: 0;
}

.site_user_arrow img {
  width: 5px;
  /* height: 15px; */
  margin: 0;
}

.site_bar_close_arrow img {
  width: 5px;
}

.sitebar button {
  background: #ffd700;
  border-radius: 29.98px;
  width: 100%;
  padding: 9px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  font-size: 12.5px;
  color: #0a0a0a;
  font-weight: 600;
  border: none;
}

ul.item_menu a svg {
  width: 14.5px;
}

.sitebar button img {
  padding-right: 8px;
  width: 22px;
}

/* ======== sitebar END =========== */
/* ======== main content START =========== */
.main_page_content {
  padding: 23px;
  width: 100%;
  flex-grow: 1;
  position: relative;
}

.chat_sms_icons {
  position: fixed;
  bottom: 16px;
  right: 14px;
}

.chat_sms_icons svg {
  width: 41px;
  cursor: pointer;
}

.wellcome_section {
  /* background: #FFD700; */
  border-radius: 20px;
  padding: 40px 28px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Welcome_to_Baxia h1 {
  font-size: 28px;
  font-weight: 600;
  color: #000;
}

.Welcome_to_Baxia p {
  font-size: 13px;
  font-weight: 400;
  color: #000;
}

button.Welcome_to_Baxia_button {
  background: #0a0a0a;
  color: #ffff;
  font-size: 13px;
  font-weight: 500;
  border-radius: 40px;
  padding: 8px 13px;
  border: none;
}

.Free_dashboard_tour_login p {
  margin: 0;
  font-size: 10.5px;
}

.Account_tabs ul li.tab {
  display: inline;
  padding: 0px 34px;
  border-radius: 22px;
  padding: 7px 18px;
  font-size: 12px;
  color: #858585;
  font-weight: 400;
  margin-right: 11px;
  cursor: pointer;
}

.Account_tabs li.tab.active {
  background: #0a0a0a;
  color: #fff;
}

.Account_tabs ul {
  border-bottom: 0.5px dashed #85858559;
  padding-bottom: 12px;
  padding-top: 24px;
  margin-bottom: 25px;
  padding-left: 0;
}

.Welcome_to_Baxia {
  padding-left: 20px;
}

.Free_dashboard_tour_login {
  border: 0.37px solid #858585;
  width: 390px;
  border-radius: 11px;
  padding: 14px 19px;
}

.Free_dashboard_tour_login h2 {
  font-size: 13px;
  color: #0a0a0a;
  font-weight: 500;
  margin: 0;
  padding-bottom: 8px;
}

.Free_dashboard_tour_login h2 span {
  font-weight: 600;
}

.Free_dashboard_tour_login button {
  background: #ffd700;
  border: none;
  padding: 7px 23px;
  border-radius: 22px;
  color: #0a0a0a;
  font-weight: 500;
  font-size: 12px;
  margin-top: 9px;
}

.Free_dashboard_tour_login img {
  width: 67px;
  height: 67px;
  margin-bottom: 20px;
  border-radius: 50%;
  object-fit: cover;
}

/* ==========Accountoverview========= */
.account_Stats_grid {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.account_Stats_box {
  width: 25%;
}

.account_s_box_width {
  background: #fff9d9;
  border-radius: 15px;
  padding: 16px 20px;
}

.account_s_box_width {
  margin-right: 13px;
}

p.account_Stats_icons {
  background: #ffd700;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

p.account_Stats_icons svg {
  width: 18.63px;
}

.account_Stats_box h2 {
  color: #0a0a0a;
  font-size: 18px;
  font-weight: 800;
  padding-top: 12px;
  margin: 0;
}

.account_Stats_box p {
  margin: 0;
  font-size: 13px;
  color: #0a0a0a;
  font-weight: 400;
}

.Trading.Objective_grid {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  border: 0.5px solid #8585852e;
  border-radius: 20px;
  padding: 19px 17px;
}

.Accountoverview_status_cont {
  margin-bottom: 30px;
}

.Objective_box {
  width: 50%;
  display: flex;
}

.Objective_box_content {
  width: 100%;
  padding: 0 15px;
}

.Objective_box:nth-child(1) {
  border-bottom: 0.5px dashed #85858559;
  border-right: 0.5px dashed #85858559;
  padding-bottom: 16px;
  padding-left: 0px;
}

.Objective_box:nth-child(2) {
  border-bottom: 0.5px dashed #85858559;
  /* border-right: 0.5px solid #85858559; */
  padding-bottom: 16px;
  padding-left: 20px;
}

.Objective_box:nth-child(3) {
  /* border-bottom: 0.5px solid #85858559; */
  border-right: 0.5px dashed #85858559;
  padding-top: 30px;
  padding-left: 0px;
}

.Objective_box:nth-child(4) {
  padding-top: 30px;
  padding-left: 20px;
}

.Objective_box_content_heding {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Objective_box_content_heding button {
  border: none;
  border: 0.5px solid #858585;
  background: #f1f2f4;
  color: #0a0a0a;
  font-size: 9px;
  font-weight: 400;
  border-radius: 30px;
  padding: 3px 8px;
}

.Objective_box:nth-child(3) .Objective_box_content_heding button {
  border: 0.5px solid #0eac3a;
  background: #0eac3a26;
  color: #0eac3a;
}

.Objective_box:nth-child(4) .Objective_box_content_heding button {
  border: 0.5px solid #0eac3a;
  background: #0eac3a26;
  color: #0eac3a;
}

.Objective_box:nth-child(3) span.Objective_box_content_span,
.Objective_box:nth-child(4) span.Objective_box_content_span {
  color: #0eac3a !important;
}

.Objective_box:nth-child(1) span.Objective_box_content_span,
.Objective_box:nth-child(2) span.Objective_box_content_span {
  color: #ffd700 !important;
}

.Objective_box_content_heding h2 {
  margin: 0;
  font-size: 13px;
  color: #0a0a0a;
  font-weight: 600;
  padding-bottom: 9px;
}

.Accountoverview_status_Trading {
  margin-bottom: 30px;
}

.Objective_box_content p {
  margin: 0;
  font-size: 10.7px;
  color: #858585;
  padding-bottom: 5px;
}

.Objective_box_content p span:last-child {
  position: relative;
  margin-left: 15px;
}

.Objective_box_content p span:last-child:after {
  position: absolute;
  top: 5.5px;
  left: -9px;
  content: "";
  width: 3px;
  height: 3px;
  background-color: #0a0a0a;
  border-radius: 50%;
}

.Objective_box:nth-child(3) span.Objective_box_content_span:after {
  background-color: #0eac3a !important;
}

.Objective_box:nth-child(4) span.Objective_box_content_span:after {
  background-color: #0eac3a !important;
}

.Objective_box:nth-child(1) span.Objective_box_content_span:after {
  background-color: #ffd700 !important;
}

.Objective_box:nth-child(2) span.Objective_box_content_span:after {
  background-color: #ffd700 !important;
}

.Objective_box_icos {
  background: #fff9d9;
  width: 100%;
  height: 42px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 42px;
}

.Objective_box_icos svg {
  width: 16px;
}

.Consistency_History table {
  width: 100%;
}

tr.Consistency_History_table-heading {
  background: #f1f2f4;
  border-radius: 10px;
}

.Consistency_History table td,
.Consistency_History table th {
  padding: 11px;
  font-size: 10px;
  color: #858585;
  font-weight: 400;
  width: 16%;
}

.Topup_Reset .Consistency_History table td,
.Topup_Reset .Consistency_History table th {
  width: 16%;
  font-size: 11px;
}

.Consistency_History table th {
  text-transform: uppercase;
}

.Consistency_History table th img {
  width: 11px;
  position: relative;
  bottom: 1px;
}

.Consistency_History table th {
  color: #0a0a0a;
  font-weight: 400;
}

.Heading {
  font-size: 16px;
  color: #0a0a0a;
  font-weight: 600;
  height: 36px;
}

.well_come_discount_box {
  background-repeat: no-repeat !important;
  width: 100% !important;
  background-size: cover !important;
  border-radius: 20px;
}

.wellcome_tab_discount_grid {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 25px;
  padding-bottom: 80px;
  padding-right: 0px !important;
}

.well_come_discount_conten_box {
  max-width: 300px;
  width: 100%;
}

.well_come_discount_box_logo h1 {
  color: #ffd700;
  font-size: 20px;
  font-weight: 600;
  margin: 0;
  padding-bottom: 18px;
  padding-top: 10px;
}

.Coupon_code_gb_border {
  width: 156px;
  height: 72px;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  margin: 0 auto;

  background-position-x: center !important;
}

.Coupon_code_gb {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-top: 0.5px dotted #ffffff4d;
  padding-top: 11px;
  margin-top: 10px;
  border-bottom: 0.5px dotted #ffffff4d;
  padding-bottom: 12px;
  margin-bottom: 11px;
}

.Coupon_code_con {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Coupon_code_con p {
  margin: 0;
  color: #858585;
  font-size: 10px;
  font-weight: 400;
}

.Coupon_code_con b {
  font-size: 14px;
  color: #0a0a0a;
  font-weight: 600;
  margin: 0;
}

.well_come_discount_box_logo {
  text-align: center;
}

.Discount_text_cont h5 {
  font-size: 13px;
  font-weight: 600;
}

.Discount_text_cont p {
  font-size: 11px;
  margin: 0;
  font-weight: 400;
  position: relative;
  width: fit-content;
  margin: 0 auto;
  padding-bottom: 2px;
}

.Discount_text_cont p:after {
  content: "";
  position: absolute;
  top: 6px;
  left: -17px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #fff;
}

.Discount_Offer_TIME h3 {
  font-size: 14px;
  font-weight: 500;
  padding-bottom: 4px;
  margin: 0;
}

.Discount_Offer_TIME {
  margin-top: 14px;
}

.well_come_discount_box_logo img {
  width: 64px;
}

.Discount_Offer_TIME_grid {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Discount_Offer_TIME_items {
  width: 58px;
  height: 58px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffffff0d;
  border: 0.5px solid var(--BG, #ffffff);
  border-radius: 50%;
  margin: 5px;
}

.Discount_Offer_TIME button {
  background: #ffd700;
  border-radius: 30px;
  width: 100%;
  padding: 10px 0;
  border: none;
  margin-top: 14px;
  margin-bottom: 4px;
  font-size: 13px;
  color: #0a0a0a;
  font-weight: 500;
}

.well_come_discount_box_logo {
  text-align: center;
  padding: 20px 25px;
  color: #fff;
}

.Discount_Offer_TIME_items p {
  margin: 0;
  font-weight: 600;
}

.Discount_Offer_TIME_items p span:first-child {
  font-size: 15px;
  font-weight: 600;
  color: #fff;
  margin: 0;
  line-height: 17px;
}

.Discount_Offer_TIME_items span {
  font-size: 9px;
  color: #f1f2f4;
  display: block;
  font-weight: 400;
}

.Accountoverview_page {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.Accountoverview_acount_ballen {
  max-width: 290px;
  width: 100%;
  flex-grow: 1;
  background: #fff;
}

.Accountoverview_user {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 0.5px dashed #85858559;
  padding-bottom: 12px;
  cursor: pointer;
}

.Accountoverview_user_name {
  display: flex;
  align-items: center;
}

.Accountoverview_user_name h3 {
  font-size: 15px;
  color: #0a0a0a;
  font-weight: 600;
  margin: 0;
}

.Accountoverview_user_name p {
  font-size: 11px;
  color: #858585;
  font-weight: 400;
  margin: 0;
}

.Accountoverview_user_SVG svg {
  width: 10px;
  display: none;
  transition: 0.3s;
}

.Accountoverview_user:hover .Accountoverview_user_SVG svg {
  display: block;
}

.Accountoverview_user_name img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  margin-right: 10px;
}

.Accountoverview_acount_options h3 {
  font-size: 13px;
  color: #0a0a0a;
  font-weight: 600;
}

.Accountoverview_acount_options li {
  list-style: none;
  display: flex;
  align-items: center;
  font-size: 13px;
  font-weight: 400;
  color: #858585;
  padding-top: 8px;
}

.Accountoverview_acount_options p {
  margin: 0;
  margin-left: 5px;
  margin-right: 2px;
  font-size: 12px;
}

.Accountoverview_acount_options li svg {
  width: 13px;
}

svg.Trading_right_arrow {
  width: 8px !important;
}

tr.Consistency_History_table-heading th {
  padding-right: 5px;
  font-weight: 600;
}

.Accountoverview_acount_options ul {
  margin: 0;
  padding: 0;
}

.Accountoverview_acount_options {
  padding-top: 20px;
}

.Accountoverview_acount_options li p.AC_Balance {
  color: #0a0a0a;
}

.Accountoverview_acount_box_1 {
  border: 0.5px solid #8585852e;
  border-radius: 20px;
  padding: 20px;
}

.Accountoverview_status {
  width: 100%;
  padding-right: 20px;
}

.Account_growth {
  background: #ffd700;
  padding: 20px;
  border-radius: 20px;
  margin-top: 25px;
}

.Account_growth_prste {
  display: flex;
  align-items: center;
  background: #0a0a0a;
  border-radius: 14px;
  margin-bottom: 20px;
  padding: 16px;
  color: #fff;
}

.Account_growth_prste_svg {
  background: #ffd700;
  width: 47px;
  height: 47px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
}

.Account_growth_prste_svg svg {
  width: 23px;
}

.Account_growth_prste h2 {
  font-size: 28px;
  font-weight: 600;
  margin: 0;
}

.Account_growth_prste p {
  font-size: 14px;
  font-weight: 400;
  margin: 0;
}

.Account_growth_mail {
  background: #fff;
  border-radius: 14px;
  padding: 16px 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Account_growth_mail_svg {
  width: 40px;
  height: 40px;
}

.Account_growth_mail_svg svg {
  width: 34px;
}

.Account_growth_mail_content h5 {
  margin: 0;
  font-size: 13.2px;
  color: #0a0a0a;
  font-weight: 600;
}

.Account_growth_mail_content p {
  margin: 0;
  font-size: 12px;
  font-weight: 400;
  color: #858585;
}

.Account_growth_Time h3 {
  margin: 0;
  font-size: 13px;
  font-weight: bold;
  color: #0a0a0a;
}

.Account_growth_Time p {
  font-size: 13px;
  color: #0a0a0a;
  font-weight: 400;
  margin: 0;
  padding: 5px 0;
}

.Account_growth_Time {
  text-align: center;
  padding-top: 25px;
}

.Account_growth_Time h1 {
  font-size: 32px;
  color: #0a0a0a;
  font-weight: 400;
}

/* =============== profile ============ */
.profile_User_information_input {
  display: flex;
  align-items: center;
  width: 77%;
  justify-content: space-between;
}

.profile_User_information_input span {
  display: block;
  font-size: 10px;
  color: #0a0a0a;
  font-weight: 600;
  padding-bottom: 3px;
}

.profile_User_information_input input {
  background: #f1f2f4;
  border: none;
  font-size: 9.5px;
  color: #858585;
  width: 100%;
  height: 100%;
}

.profile_User_information_input input:focus-visible {
  outline: none;
  border: none;
}

.FaEye_password svg {
  color: #858585;
  width: 15px;
  cursor: pointer;
}

.FaEye_password img {
  width: 12px;
  cursor: pointer;
}

.FaEye_password {
  background: #f1f2f4;
  border-radius: 30px;
  height: 39px;
  padding: 0 18px;
  width: 100%;
  display: flex;
  align-items: center;
}

.profile_page_bg img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.profile_User {
  display: flex;
  justify-content: space-between;
  align-items: end;
  position: relative;
  bottom: 55px;
  padding: 0 23px;
}

.profile_User_cont {
  display: flex;
  align-items: end;
}

.profile_User_cont img {
  width: 150px;
  height: 150px;
  border: 5px solid #ffffff;
  border-radius: 50%;
  box-shadow: 10px 10px 30px 0px #01001d1a;
}

.profile_User_cont h3 {
  margin: 0;
  font-size: 19px;
  font-weight: 600;
  color: #0a0a0a;
}

.profile_User_name p {
  margin: 0;
  font-size: 12px;
  color: #858585;
  font-weight: 400;
}

.profile_User button {
  height: 29px;
  border: 0.5px solid #aeb0b7;
  border-radius: 40px;
  padding: 0 13px;
  background: #fff;
  color: #0a0a0a;
  font-size: 10.5px;
  font-weight: 600;
  position: relative;
  bottom: 37px;
}

.dail_Phone_code_Toggle {
  display: flex;
  align-items: center;
  width: 53px;
  border-right: 2px solid #858585;
  margin-right: 11px;
  height: 39%;
}

.dail_Phone_code_Toggle span.dail_Down_arrow img {
  width: 9px;
  margin-left: 6px;
}

.dail_Phone_code input[type="search"] {
  padding: 7px 10px;
  border-radius: 30px;
  margin-bottom: 3px;
}

.dail_Phone_code {
  position: absolute;
  background: #fff;
  top: 39px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 5px 11px;
  border-radius: 7px;
  width: 50%;
}

ul.dail_Phone_code_drop li {
  display: flex;
  align-items: center;
  padding: 5px 7px;
  border-bottom: 0.5px dashed #85858559;
  margin-bottom: 2px;
}

ul.dail_Phone_code_drop li:last-child {
  border: none;
}

ul.dail_Phone_code_drop {
  margin: 0;
  padding: 0;
  border: none;
  list-style: none;
}

ul.dail_Phone_code_drop li span {
  font-size: 13px;
  margin-left: 4px;
}

ul.dail_Phone_code_drop li span:first-child {
  margin-left: 0px;
}

.FaEye_password.dail_Phone_code_box {
  position: relative;
}

.profile_User_name {
  padding-left: 12px;
  position: relative;
  bottom: 37px;
}

.profile_User_information_input .input_group {
  width: 46%;
  margin-bottom: 18px;
}

/* =============== Tranding_chart ============ */
.Tranding_chart {
  display: flex;
  justify-content: space-between;
  border-bottom: 0.5px dashed #85858559;
  padding-bottom: 25px;
  margin-bottom: 24px;
}

.Graph_chaet {
  background: #f1f2f4;
  max-width: 290px;
  width: 100%;
  flex-grow: 1;
  border-radius: 20px;
  padding: 20px;
  height: max-content;
}

.Graph_chaet_heding {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 20px;
}

.Graph_chaet_heding h3 {
  font-size: 16px;
  font-weight: 600;
  color: #0a0a0a;
}

.Graph_chaet_heding img {
  width: 3px;
}

.grapg_serch {
  background: #ffffff;
  border-radius: 30px;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 5px 13px;
}

.grapg_serch img {
  width: 13px;
  height: 13px;
  margin-right: 7px;
}

.grapg_serch input {
  border: none;
  background: transparent;
  font-size: 11px;
  padding: 3px 0;
  font-weight: 400;
  color: #858585;
}

.grapg_serch input:focus-visible {
  outline: none;
  border: none;
}

p.Reset_All_grapd {
  margin: 0;
  font-size: 12px;
  color: #858585;
  text-align: right;
  padding: 6px 0;
  border-bottom: 1px solid #858585;
  width: fit-content;
  padding-bottom: 0;
  margin-bottom: 6px;
}

.Reset_All_grapd_div {
  display: flex;
  justify-content: end;
}

.check_box_grapg {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 15px;
}

.check_grpg_box {
  display: flex;
  align-items: center;
}

.check_grpg_box input {
  cursor: pointer;
  display: none;
}

.check_grpg_box label {
  position: relative;
  cursor: pointer;
  border: 1px solid #858585;
  width: 13px;
  height: 13px;
  border-radius: 4px;
  margin-right: 4px;
}

.check_grpg_box label:before {
  content: "";
  -webkit-appearance: none;
  background-color: transparent;
  padding: 6px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  margin-right: 4px;
  border-radius: 3px;
}

.check_grpg_box input:checked + label {
  background-color: #ffd700;
  border: none;
}

.check_grpg_box input:checked + label:after {
  content: "";
  display: block;
  position: absolute;
  top: 1px;
  left: 4px;
  width: 5px;
  height: 8px;
  border: solid #ffffff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.check_grpg_box span {
  font-size: 10px;
  font-weight: 400;
  color: #0a0a0a;
}

.USDCD_grapg_srcal span {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: block;
}

.USDCD_grapg_srcal {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.USDCD_grapg_srcal p {
  color: #0a0a0a;
  font-size: 12px;
  margin: 0;
  margin-left: 5px;
}

.Topup_Reset_heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.Topup_Reset_heading select {
  border: 0.5px solid #aeb0b7;
  height: 32px;
  border-radius: 30px;
  padding: 0 20px;
  font-size: 11px;
  color: #858585;
  width: 148px;
  padding: 0 11px;
  appearance: none;
  -webkit-appearance: none;
}

.Topup_Reset_heading select:focus-visible {
  outline: none;
}

.Topup_Reset_fillter_select svg {
  position: relative;
  left: -26px;
  width: 7px;
}

.Topup_Reset_heading .Heading {
  height: auto;
}

.DetailedStats_grid {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 30px;
}

.DetailedStats_grid_box {
  width: 32.5%;
  background: #f1f2f4;
  border-radius: 20px;
  padding: 20px;
}

.DetailedStats_grid_box ul {
  padding: 0px;
  list-style: none;
  border: none;
}

li.DetailedStats_grid_box_items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 0.5px solid #aeb0b7;
  padding-bottom: 12px;
  margin-bottom: 12px;
}

li.DetailedStats_grid_box_items:last-child {
  border: none;
  padding-bottom: 0;
  margin-bottom: 0;
}

li.DetailedStats_grid_box_items b {
  font-size: 10.5px;
  font-weight: 600;
  color: #000000;
}

li.DetailedStats_grid_box_items.line_bg_color b {
  position: relative;
}

li.DetailedStats_grid_box_items.line_bg_color b:after {
  background: #0eac3a;
  content: "";
  position: absolute;
  top: 0;
  left: -34px;
  width: 20px;
  height: 7px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

li.DetailedStats_grid_box_items.line_bg_color b:before {
  background: #ff2727;
  content: "";
  position: absolute;
  top: 0;
  left: -15px;
  width: 20px;
  height: 7px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

li.DetailedStats_grid_box_items p {
  margin: 0;
  font-size: 12px;
  color: #858585;
  font-weight: 400;
}

li.DetailedStats_grid_box_items p img {
  width: 13px;
}

.TradingOverview_page .Account_tabs ul {
  padding-left: 0;
  padding-top: 10px;
}

.Trading_History tr.Consistency_History_table-heading th {
  text-transform: uppercase;
}

.Trade_Growth_View_filter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 15px;
}

.Trade_Growth_View_filter h3 {
  font-size: 13px;
  font-weight: 600;
  color: #0a0a0a;
  margin: 0;
}

.Trade_Growth_View_filter_cont {
  display: flex;
  align-items: center;
}

.Trade_Growth_View_filter_cont_calss {
  background: #f1f2f4;
  border-radius: 30px;
  display: flex;
  align-items: center;
  padding: 7px 13px;
  justify-content: space-between;
  width: 270px;
}

.Trade_Growth_View_filter_cont_calss div {
  display: flex;
  align-items: center;
  width: 48%;
}

.Trade_Growth_View_filter_cont_calss div input {
  border: none;
  background: transparent;
  width: 50px;
  font-size: 10px;
  padding: 0px 5px;
  font-weight: 400;
  color: #858585;
}

.Trade_Growth_View_filter_cont_calss div input {
  border: none;
  outline: none;
}

.Trade_Growth_View_filter_cont_calss div span {
  font-size: 11px;
  color: #858585;
  font-weight: 400;
}

.Trade_Growth_View_filter_cont h3 {
  margin-right: 10px;
}

.Trade_Growth_View_filter_cont svg {
  margin-left: 10px;
  width: 34px;
}

.TradingAnalytics_chart {
  padding-right: 18px;
  margin-bottom: 20px;
}

.profile_page_heding {
  color: #0a0a0a;
  font-size: 16px;
  font-weight: 600;
  padding-bottom: 13px;
}

.profile_page .Account_tabs {
  position: relative;
  bottom: 40px;
  padding: 0 23px;
}

/* =========== Competition ========== */
.Competition_BG {
  width: 100%;
  height: 156px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  margin-bottom: 20px;
  padding: 23px 180px;
  text-align: center;
  background-size: contain !important;
}

.Competition_BG h2 {
  margin: 0;
  font-size: 18px;
  color: #0a0a0a;
  font-weight: 600;
  padding-bottom: 5px;
}

.Competition_BG p {
  font-size: 13px;
  color: #858585;
  font-weight: 400;
}

.Competition_list_box_items {
  width: 33.33%;
}

.Competition_list_box_items_padding {
  border: 0.5px solid #85858559;
  border-radius: 20px;
  padding: 15px;
  width: 96%;
  margin-bottom: 15px;
}

.Competition_list_box {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.Competition_list_items_name_box {
  display: flex;
  align-items: center;
  border-bottom: 0.5px dashed #85858559;
  padding-bottom: 12px;
  margin-bottom: 14px;
}

.Competition_list_items_name_box svg {
  width: 45px;
  height: 45px;
  margin-right: 10px;
}

.Competition_list_items_name_box_name_1 p svg {
  width: 15px;
  height: 15px;
  margin-right: 3px;
}

span.datename_box {
  font-size: 13px;
  color: #858585;
  font-weight: 400;
  margin-right: 4px;
}

.Competition_list_items_name_box_name_1 p {
  display: flex;
  align-items: center;
  margin: 0;
  padding-bottom: 3px;
}

p.Competition_list_items_name_heding spna {
  font-size: 13px;
  color: #000000;
  font-weight: 600;
}

p.Competition_list_items_name_heding spna.pending_name_box {
  color: #f84444;
  position: relative;
  padding-left: 20px;
}

spna.list_items_name_box_date {
  font-size: 11px;
  color: #0a0a0a;
  font-weight: 400;
}

p.Competition_list_items_name_heding spna.pending_name_box:after {
  position: absolute;
  top: 7px;
  left: 9px;
  width: 5px;
  height: 5px;
  content: "";
  background: #f84444;
  border-radius: 50%;
}

.Contestants_Competition_list_img img {
  width: 36px;
  border: 1px solid #ffffff;
  border-radius: 50%;
  margin: 0;
}

.Contestants_Competition_list {
  display: flex;
  align-items: center;
}

.Contestants_Competition_list p {
  margin: 0;
  font-size: 12px;
  position: relative;
  right: 12px;
}

.Contestants_Competition_list_img img:nth-child(2) {
  position: relative;
  right: 13px;
}

.Contestants_Competition_list_img img:nth-child(3) {
  position: relative;
  right: 25px;
}

.Prize_Pool_competition {
  background: #f1f2f4;
  padding: 16px;
  border-radius: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.Prize_Pool_competition h3 {
  font-size: 13px;
  color: #0a0a0a;
  font-weight: 600;
  margin: 0;
  padding-bottom: 5px;
}

.Prize_Pool_competition p {
  font-size: 12px;
  font-weight: 400;
  color: #858585;
  margin: 0;
}

.Prize_Pool_competition p b {
  color: #0a0a0a;
}

.competition_Time_until_start p {
  margin: 0;
  font-size: 12px;
  color: #858585;
}

.competition_Time_until_start ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 11px 0;
  border: none;
  padding-bottom: 17px;
}

.competition_Time_until_start ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.5px solid #aeb0b7;
  border-radius: 10px;
  font-size: 12px;
  width: 22%;
  padding: 5px 0;
}

.competition_Time_until_start ul li b {
  font-size: 15px;
  color: #0a0a0a;
  font-weight: 600;
}

.competition_Time_until_start ul li span {
  font-size: 9px;
  color: #858585;
  padding-left: 2px;
  position: relative;
  top: 1px;
}

.competition_button {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.competition_button button {
  border: none;
  background: #f1f2f4;
  border-radius: 30px;
  width: 47%;
  padding: 7px 0;
  font-size: 13px;
  color: #0a0a0a;
  font-weight: 500;
}

.competition_button button.Register_button {
  background: #aeb0b7;
  color: #0a0a0a;
}

.Competition_list_box_items:first-child
  .competition_button
  button.Register_button {
  background: #ffd700;
}

.Competition_list_box_items:first-child .Prize_Pool_competition {
  background: #fff9d9;
}

.Competition_list_box_items:nth-child(2)
  p.Competition_list_items_name_heding
  spna.pending_name_box {
  color: #ff8a00;
}

.Competition_list_box_items:nth-child(3)
  p.Competition_list_items_name_heding
  spna.pending_name_box {
  color: #0eac3a;
}

.Competition_list {
  padding-top: 15px;
}

.Competition_MOdal {
  max-width: 55%;
}

.Prizepool_reabk_box {
  display: flex;
  justify-content: space-between;
}

.Prizepool_reabk_box_step {
  width: 33.33%;
}

.Prizepool_reabk_box_step_items {
  width: 94%;
  margin: auto;
  background: #fff9d9;
  padding: 25px 0;
  border-radius: 20px;
}

.Prizepool_reabk_box_step_icons div {
  position: relative;
  bottom: 17px;
  border: 3px solid #00000066;
  width: fit-content;
  border-radius: 30px;
  margin: 0 auto;
}

.Prizepool_reabk_box_step_icons button {
  display: block;
  border: none;
  border: aliceblue;
  background: #0a0a0a;
  color: #fff;
  font-weight: 400;
  font-size: 13px;
  border-radius: 30px;
  padding: 1px 26px;
  border: 5px solid #00000066;
  margin: 0 auto;
}

.Prizepool_reabk_box_step_icons {
  text-align: center;
  background: #fff;
  width: 90%;
  margin: 0 auto;
  border-radius: 15px;
  padding-bottom: 15px;
  height: 153px;
}

.Prizepool_reabk_box_step:nth-child(2) .Prizepool_reabk_box_step_items {
  background-color: #ffd700;
}

.Prizepool_reabk_box_step_icons img {
  width: 70px;
  height: 70px;
}

.Prizepool_reabk_box_step:nth-child(2) .Prizepool_reabk_box_step_icons img {
  width: 100px;
  height: 100px;
}

.Prizepool_reabk_box_step_list p {
  margin: 0;
  padding-bottom: 3px;
  color: #0a0a0a;
  font-size: 12px;
}

.Prizepool_reabk_box_step_list p svg {
  width: 13px;
  margin-right: 2px;
}

.Prizepool_reabk_box_step_list {
  width: 90%;
  margin: 0 auto;
  padding-top: 15px;
}

.March_competition_Prize_BG h2 {
  color: #0a0a0a;
  font-size: 18px;
  font-weight: 600;
  margin: 0;
  padding-top: 10px;
}

.March_competition_Prize_and_Rules {
  margin-bottom: 30px;
  padding: 11px 0;
  text-align: center;
  border-radius: 20px;
  position: relative;
}

.March_competition_Prize_and_Rules img {
  position: absolute;
  right: 15px;
  top: 15px;
  width: 12px;
  cursor: pointer;
}

.March_competition_Prize_Tabs ul {
  border: 0;
  width: max-content;
  margin: 0 auto;
  background: #fff;
  padding: 10px 6px;
  margin-top: 20px;
  margin-bottom: 15px;
  border-radius: 15px;
}

table.Prizepool_modal_table {
  width: 100%;
  margin-top: 30px;
  margin-bottom: 20px;
}

table.Prizepool_modal_table tr {
  border-bottom: 0.5px dashed #85858559;
}

tr.Prizepool_table_heading {
  border: none !important;
  border-radius: 10px;
}

table.Prizepool_modal_table tr th:first-child {
  text-transform: uppercase;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

table.Prizepool_modal_table tr th:last-child {
  text-transform: uppercase;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

table.Prizepool_modal_table tr th {
  text-transform: uppercase;
  background: #f1f2f4;
}

table.Prizepool_modal_table tr th,
table.Prizepool_modal_table tr td {
  padding: 10px;
  font-size: 11px;
  font-weight: 400;
  color: #0a0a0a;
}

table.Prizepool_modal_table tr:nth-child(n + 2) td:last-child {
  color: #0eac3a;
}

.Rules_items {
  border: 0.5px solid #aeb0b7;
  border-radius: 14px;
  margin-bottom: 15px;
  padding: 8px 9px;
  width: 100%;
}

.Rules_items svg {
  width: 16px;
}

.Rules_items span {
  font-size: 11.5px;
  color: #0a0a0a;
  font-weight: 400;
  margin-left: 7px;
}

.rules_modal h1 {
  font-size: 18px;
  color: #0a0a0a;
  font-weight: 600;
  margin-bottom: 20px;
}

.Competition_MOdal.modal-dialog-scrollable .modal-body::-webkit-scrollbar {
  display: none !important;
}

.next_Previous {
  display: flex;
  align-items: center;
  justify-content: end;
  width: 100%;
}

.next_Previous ul {
  margin: 0;
  padding: 0;
  display: flex;
  border: none;
  margin-top: 10px;
  margin-bottom: 5px;
}

.next_Previous li {
  list-style: none;
  width: 30px;
  height: 30px;
  background: #f1f2f4;
  border-radius: 50%;
  display: inline-block;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #858585;
  font-size: 13px;
  font-weight: 400;
  margin-left: 8px;
  cursor: pointer;
}

.next_Previous li.active {
  background: #0a0a0a;
  color: #fff;
}

.next_Previous p {
  margin: 0;
  font-size: 13px;
  margin-left: 8px;
  color: #858585;
  cursor: pointer;
}

.next_Previous p:last-child {
  color: #0a0a0a;
}

.next_Previous p svg {
  margin: 0 8px;
}

.modal-body.participat {
  text-align: center;
  position: relative;
}

.modal-body.participat h2 {
  font-size: 18px;
  color: #0a0a0a;
  font-weight: 600;
}

.modal-body.participat p {
  font-size: 11px;
  color: #858585;
  font-weight: 400;
  padding: 0px 25px;
}

.modal-body.participat svg {
  width: 80px;
  margin-bottom: 16px;
}

.participat_MOdal {
  max-width: 30%;
}

.participat_MOdal .modal-content {
  border-radius: 30px;
}

img.participat_close {
  position: absolute;
  top: 19px;
  right: 22px;
  width: 13px;
  cursor: pointer;
}

.profile_User_from button {
  background: #ffd700;
  border: none;
  border-radius: 30px;
  padding: 6px 22px;
  font-size: 13px;
  color: #0a0a0a;
  font-weight: 500;
}

.Verification_center {
  text-align: center;
}

.Verification_center h3 {
  font-size: 16px;
  color: #000000;
  font-weight: 600;
}

.Verification_center p {
  padding: 0 210px;
  font-size: 12px;
  color: #858585;
}

.Verification_center img {
  width: 200px;
  padding: 30px 0;
}

tr.Consistency_History_table-heading th:first-child {
  text-transform: uppercase;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

tr.Consistency_History_table-heading th:last-child {
  text-transform: uppercase;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.cont_pipi_last p {
  font-size: 10px;
  text-align: center;
  padding: 0 50px;
  color: #858585;
}

.cont_pipi_last p b {
  color: #0a0a0a;
}

/* ==========dtatic */
.dail_code_static_box {
  display: flex;
  align-items: center;
}

.dail_code_static_box p {
  margin: 0;
  margin-right: 12px;
  font-size: 12px;
}

.border_skskaks {
  width: 2px;
  height: 12px;
  background: #858585;
}

img.dail_code_static_box_Down_arrow {
  width: 10px;
}

.Inactive_Accounts img {
  width: 283px;
  margin: 0 auto;
  margin-bottom: 28px;
}

.Inactive_Accounts p {
  font-size: 13px;
  color: #000;
  font-weight: 400;
  margin: 0;
}

.Inactive_Accounts {
  text-align: center;
  width: 100%;
}

.Account_tabs_perent {
  width: 100%;
}




/* ================================================ */
@import url("https://fonts.googleapis.com/css2?family=Reem+Kufi+Fun&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css");

body {
  overflow-y: hidden;
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
  color: #0a0a0a;
}

.main_page_content {
  overflow-y: scroll;
  height: 100vh;
}

.head-section h5 {
  font-family: Poppins;
  font-weight: 600;
  font-size: 18px;
  color: #0a0a0a;
  padding-bottom: 6px;
}
.nav-m .active-page-a {
  background: #0a0a0a;
  color: #fff;
}
.nav-m a {
  text-decoration: none;
  font-size: 12px;
  background: transparent;
  padding: 5px 15px 7px 15px;
  border-radius: 16px;
  color: #858585;
  font-weight: 400;
}
.nav-m a:hover {
  background: #0a0a0a;
  color: #fff;
}
.check-div p {
  font-size: 13px;
}
.check-div .form-check span {
  font-size: 24px;
  font-weight: 600;
  position: relative;
  left: -23px;
}

/* .check-div label:hover {
  background: #ffd700;
  border: 1px solid #ffd700;
} */
.check-div label {
  cursor: pointer;
  background: transparent;
  padding: 14px 13px 14px 0px;
  border-radius: 15px;
  border: 1px solid #858585;
}
.check-div .active {
  background: #ffd700;
  border: 1px solid #ffd700 !important;
}
.check-div .form-check {
  text-align: right;
}
.check-div .form-check .form-check-input {
  float: right;
  position: relative;
  top: 3px;
  right: -8px;
}

.check-div .form-check-input {
  border: 1px solid #aeb0b7;
}
.check-div .form-check-input:focus {
  border-color: #0a0a0a;
  outline: 0;
  box-shadow: none;
}

.sub-m {
  font-size: 16.5px;
  font-weight: 600;
}
.card-m {
  border-radius: 15px;
}
.card-m ul {
  list-style: none;
}
.card-m ul li {
  padding: 16px 2px 16px 14px;
  background: #fff9d9;
  border-left: 6px solid;
  background: #f1f2f4;
  border-left-color: transparent;
  border-radius: 5px;
  margin-bottom: 10px;
  font-size: 15px;
  font-weight: 500;
}
.card-m ul .active-li {
  background: #fff9d9;
  border-left-color: #ffd700;
  font-weight: 600;
}
.card-m ul li:hover {
  background: #fff9d9;
  border-left-color: #ffd700;
  cursor: pointer;
}
a {
  color: #0a0a0a;
  text-decoration: none;
}
a:hover {
  color: #0a0a0a;
}

.cl-4-m h4 {
  font-size: 13px;
  font-weight: 600;
}
.cl-4-m label {
  font-size: 13px;
}
.cl-4-m .form-check label {
  font-size: 13px;
  color: #858585;
}
.checked-label label {
  color: #000;
}
.cl-4-m .form-check-input {
  border: 1px solid #aeb0b7;
}
.cl-4-m .form-check-input:focus {
  border-color: none;
  outline: 0;
  box-shadow: none;
}
.form-check-input:checked {
  /* background-color: #ffd700;
  border-color: #ffd700; */
  background-image: url('data:image/svg+xml;utf8,<svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="9" cy="9" r="9" fill="%23FFD700"/><circle cx="9" cy="9" r="6.25" fill="%23FFD700" stroke="%23FFFFFF" stroke-width="1.5"/></svg>');
  /* width: 19px;
    height: 19px;
    position: relative;
    left: -2px; */
  /* width: 16px;
  height: 19px; */
  /* position: relative;
  top: -2px; */
  border: none;
}

.bdr-dashed {
  width: 100%;
  height: 4px;
  border-top: 1px dashed #aeb0b7;
}
.plan-m-bdr {
  border-bottom: 1px dashed #aeb0b7;
  padding-bottom: 8px;
}
.card-pay p {
  margin: 0px;
  padding: 0px;
}
.card-pay h1 {
  font-size: 25px;
}

.card-pay .card-inner p {
  color: #858585;
  font-size: 11px;
}
.card-pay .card-inner h1 {
  color: #0a0a0a;
  font-size: 13px;
}
.card-pay .card-inner .row {
  margin: 0;
}
.card-pay .card-inner {
  border: none;
  border-radius: 10px;
  position: relative;
  margin: 0px 5px;
}
.card-pay .card-inner .col-9 {
  padding-top: 13px;
  padding-bottom: 13px;
}
.card-pay .card-inner .col-3 {
  background-color: #ffd700;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-right: 3px solid #0a0a0a;
}
.card-pay {
  /* background: radial-gradient(circle, rgba(14, 11, 0, 1) 0%, rgba(57, 45, 1, 1) 100%, rgba(10, 10, 10, 1) 100%); */
  background: radial-gradient(
    circle,
    rgba(14, 11, 0, 1) 0%,
    rgba(45, 35, 1, 1) 100%,
    rgba(10, 10, 10, 1) 100%
  );
  border-radius: 15px;
  padding: 15px 34px;
  color: #fff;
  font-size: 10px;
  margin: 30px 0px 30px 0px;
}
.card-pay .bdr-lr {
  border-left: 1px dashed #aeb0b7;
  border-right: 1px dashed #aeb0b7;
  padding-right: 42px !important;
  padding-left: 42px !important;
}
.card-inner::after {
  content: "";
  border: 10px solid #130e00;
  position: absolute;
  border-radius: 50%;
  left: -10px;
  top: 24px;
}
.card-inner::before {
  content: "";
  border: 10px solid #130e00;
  position: absolute;
  border-radius: 50%;
  right: -10px;
  top: 24px;
}
.btn-warning {
  background-color: #ffd700;
  border-color: #ffd700;
}
.gft-svg svg {
  background: #ffd700;
  width: 52px;
  height: 52px;
  padding: 15px;
  border-radius: 50%;
}
.gft-svg h5 {
  font-size: 13px;
  color: #fff;
  margin: 0;
}
.gft-svg p {
  font-size: 10px;
  color: #fff;
  margin: 0;
  padding: 0;
  font-size: 8.5px;
}
.table-m1 thead th {
  text-transform: uppercase;
  background-color: #f1f2f4;
  font-weight: 400;
  font-size: 13px;
  padding: 15px 0.5rem 15px 0.5rem;
}
.table-m1 thead tr th:first-child {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
.table-m1 thead tr th:last-child {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
.table-m1 tbody td {
  color: #0a0a0a;
  font-size: 13px;
  padding: 26px 0.5rem 4px 0.5rem;
}
.card-m2 {
  border-radius: 15px;
  border: none;
  background: linear-gradient(
    163deg,
    rgba(59, 39, 0, 1) 0%,
    rgba(0, 0, 0, 0.8911939775910365) 48%,
    rgba(28, 16, 0, 1) 100%
  );
}
.card-m2 h4 {
  color: #ffd700;
  margin: 0px;
}
.card-m2 .h-p {
  padding: 0;
  padding-bottom: 16px;
  margin: 0;
  border-bottom: 1px dashed #ccccccb0;
  color: #fff;
  font-size: 12px;
}
.table-m2 .fw-bold {
  color: #fff;
  font-size: 13px;
}
.table-m2 td {
  color: #d1d1d1a3;
  font-size: 13px;
}
.table-m2 tbody td:first-child {
  width: 50%;
}
.table-m2 tbody td:last-child {
  width: 50%;
  text-align: right;
}
.search-tabale-bill input {
  background: transparent;
  color: #fff;
}
.search-tabale-bill .btn-warning {
  position: absolute;
  top: 5.5px;
  padding: 3px 10px;
  font-size: 13px;
  border-radius: 15px;
  right: 18px;
}
.table-total-2 p {
  color: #fff;
  font-size: 13px;
  margin: 0;
}
.table-total-2 .text-warning {
  color: #ffd700 !important;
}
.svg-2 svg {
  background: #fff;
}
.svg-2 {
  background: #ffd700;
  padding-top: 11px;
  padding-bottom: 8px;
  border-radius: 15px;
}
.svg-2 h5 {
  font-size: 13px;
  color: #0a0a0a;
  margin: 0;
  font-weight: 600;
  margin-bottom: 3px;
}
.svg-2 p {
  font-size: 10px;
  color: #0a0a0a;
  margin: 0;
  padding: 0;
}
.card-form h5 {
  color: #0a0a0a;
  font-size: 16px;
  font-weight: 600;
}
.card-form .form-control {
  background: #f1f2f4;
  border: moccasin;
  font-size: 13px;
  padding: 10px 16px;
  margin-bottom: 12px;
}
.card-form label {
  font-size: 13px;
  font-weight: 500;
}
.card-form .bg-secondary {
  background-color: #f1f2f4 !important;
  color: #000;
  font-size: 13px;
  font-family: "Poppins";
  font-weight: 500;
}
.card-form {
  border-radius: 15px;
}
.card-form .form-select {
  background-color: #f1f2f4;
  border: moccasin;
  font-size: 13px;
  padding: 7px 19px;
  margin-bottom: 12px;
  cursor: pointer;
}
.card-form .select-two {
  background-color: #fff9d9;
}
.card-form-head {
  border-bottom: 1px dashed #ccc;
  padding-bottom: 15px;
}
.card-form-footer p {
  font-size: 13px;
  margin: 0;
}
.card-form-footer h5 {
  color: #0a0a0a;
  font-size: 21px;
}
.card-form-footer {
  border-top: 1px dashed #ccc;
  padding-top: 15px;
}
.circle-card h4 {
  color: #0a0a0a !important;
  font-size: 16px !important;
  font-weight: 600;
  text-align: center;
}
.circle-card {
  background-color: #f1f2f4;
  border: none;
  border-radius: 15px;
}
.circle-card .no-circle {
  background-color: #0a0a0a;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffd700;
  font-size: 13px;
  border-radius: 50%;
}
.circle-card .circle-d p {
  font-size: 12px;
  margin: 0;
}
.circle-card .circle-d {
  display: ruby;
  text-align: center;
  position: relative;
}
.circle-card .circle-d svg {
  position: absolute;
  right: -56px;
  top: 18px;
}
.discl {
  color: #858585;
  font-size: 12px;
}
.discl b {
  color: #0a0a0a;
}
.option-crypto-select label span {
  color: #858585;
  font-weight: 500;
}
.option-crypto-select label {
  color: #0a0a0a;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 8px;
}
.option-crypto-select {
  border: 1px solid #efefef;
  border-radius: 15px;
  padding: 11px 14px;
  box-shadow: 2px 3px 7px 4px #efefef;
}
.circle-other {
  background-color: #fff9d9;
  border: 1px dashed #ffd700;
}
.circle-other p {
  font-size: 15px;
}
.circle-other svg {
  position: relative !important;
  right: 0 !important;
  top: 0 !important;
}
.circle-other .no-circle {
  background-color: #ffd700;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #0a0a0a;
}
.circle-other h4 {
  color: #0a0a0a;
  font-size: 18px;
}

/* 8 */

.banner-section {
  background-image: url("../images/banner.png");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 35px 0px;
  margin: 0px 8px 0px 8px;
  border-radius: 15px;
}
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #fff;
  background-color: #0a0a0a;
}
.nav-pills .nav-link {
  padding: 9px 19px;
  border-radius: 20px;
  color: #858585;
  margin: 0px 8px;
  font-size: 12px;
}
.nav-pills .nav-link:hover {
  color: #fff;
  background-color: #0a0a0a;
}
.muted-card {
  background-color: #f1f2f4;
  border: none;
  border-radius: 15px;
}
.muted-card .btn-light {
  font-size: 12px;
  color: #858585;
  padding: 6px 15px;
  background: #fff;
}
.p1 {
  font-size: 13px;
}
.p2 {
  font-size: 10.5px;
}
.muted-card .svg-cover {
  width: 50px;
  height: 50px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.tool-card {
  border-radius: 15px;
}
table .text-success {
  color: #00cb6d !important;
}
table .text-danger {
  color: #ff3346 !important;
}
.black-check .form-check-input:checked[type="radio"] {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M8 15.5C12.1421 15.5 15.5 12.1421 15.5 8C15.5 3.85786 12.1421 0.5 8 0.5C3.85786 0.5 0.5 3.85786 0.5 8C0.5 12.1421 3.85786 15.5 8 15.5ZM12.1691 6.1252C12.3763 5.89375 12.3567 5.53814 12.1252 5.33092C11.8938 5.1237 11.5381 5.14334 11.3309 5.3748L8.80404 8.19718C8.29202 8.76908 7.9472 9.15221 7.65239 9.39999C7.37155 9.63604 7.2066 9.6875 7.0625 9.6875C6.9184 9.6875 6.75345 9.63604 6.47261 9.39999C6.1778 9.1522 5.83298 8.76908 5.32096 8.19718L4.66908 7.46907C4.46186 7.23762 4.10625 7.21797 3.8748 7.42519C3.64334 7.63241 3.6237 7.98802 3.83092 8.21947L4.51065 8.97869C4.98754 9.51139 5.38531 9.95571 5.74876 10.2612C6.13324 10.5844 6.54794 10.8125 7.0625 10.8125C7.57705 10.8125 7.99176 10.5844 8.37624 10.2612C8.73969 9.95571 9.13746 9.51139 9.61435 8.9787L12.1691 6.1252Z" fill="%230A0A0A"/></svg>');
  width: 19px;
  height: 19px;
  position: relative;
  left: -2px;
}
.black-check .form-check-input:focus {
  border-color: #0a0a0a;
  outline: 0;
  box-shadow: 0 0 0 0.25rem #4f4f4f57;
}
.check-div .form-check-input:checked[type="radio"] {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M8 15.5C12.1421 15.5 15.5 12.1421 15.5 8C15.5 3.85786 12.1421 0.5 8 0.5C3.85786 0.5 0.5 3.85786 0.5 8C0.5 12.1421 3.85786 15.5 8 15.5ZM12.1691 6.1252C12.3763 5.89375 12.3567 5.53814 12.1252 5.33092C11.8938 5.1237 11.5381 5.14334 11.3309 5.3748L8.80404 8.19718C8.29202 8.76908 7.9472 9.15221 7.65239 9.39999C7.37155 9.63604 7.2066 9.6875 7.0625 9.6875C6.9184 9.6875 6.75345 9.63604 6.47261 9.39999C6.1778 9.1522 5.83298 8.76908 5.32096 8.19718L4.66908 7.46907C4.46186 7.23762 4.10625 7.21797 3.8748 7.42519C3.64334 7.63241 3.6237 7.98802 3.83092 8.21947L4.51065 8.97869C4.98754 9.51139 5.38531 9.95571 5.74876 10.2612C6.13324 10.5844 6.54794 10.8125 7.0625 10.8125C7.57705 10.8125 7.99176 10.5844 8.37624 10.2612C8.73969 9.95571 9.13746 9.51139 9.61435 8.9787L12.1691 6.1252Z" fill="%230A0A0A"/></svg>');
  /* width: 19px;
    height: 19px;
    position: relative;
    left: -2px; */
  width: 16px;
  height: 19px;
  position: relative;
  top: 3px;
}

.black-check .form-check-input:checked {
  background-color: #ffd90000;
  border-color: #ffd90000;
}
.check-div .form-check-input:checked {
  background-color: #ffd90000;
  border-color: #ffd90000;
}

.flag-pills .nav-link.active {
  color: #0a0a0a;
  border-color: #0a0a0a;
  background: transparent;
  border-bottom: 3px solid;
  border-radius: 0;
  z-index: 2;
  position: relative;
}
.flag-pills .nav-link img {
  margin-right: 8px;
}
.flag-pills .nav-link {
  padding: 4px 4px 13px 4px !important;
  border-radius: 0;
  color: #0a0a0a;
  margin: 0 22px 0 0px;
  background: transparent;
  align-items: center;
  display: flex;
}
.flag-pills .nav-link:hover {
  color: #0a0a0a;
  background: transparent;
  border-bottom: 3px solid;
  z-index: 2;
  position: relative;
}

.bdr-dashed-2 {
  position: relative;
  top: -2px;
  z-index: 1;
}

.table4 .badge {
  padding: 9px 20px;
  border-radius: 20px;
  font-weight: 400;
  font-size: 13px;
  width: 100px;
}
.table4 .bg-success {
  background-color: #0eac3a29 !important;
  border: 1px solid #0eac3a;
  color: #0eac3a;
}
.table4 .bg-secondary {
  background-color: #85858536 !important;
  border: 1px solid #858585;
  color: #858585;
}
.table4 .bg-warning {
  background-color: #ff880026 !important;
  border: 1px solid #ff8a00;
  color: #ff8a00;
}
.table4 .bg-danger {
  background-color: #f8444426 !important;
  border: 1px solid #f84444;
  color: #f84444;
}
.fs-13 {
  font-size: 13px;
}

.card4 {
  border: 1px solid #858585;
  background-color: #fff;
}
.card4 .svg-cover {
  width: 60px;
  height: 60px;
  background: #f1f2f4;
}
.card4 .btn-outline-secondary:hover {
  border-color: #ffd700;
  background-color: #fff7cc;
  color: #000;
}
.card4 .btn-outline-secondary {
  border-color: #aeb0b7;
  color: #000;
  padding: 8px 17px 7px 17px;
}
.card4 h5 {
  font-size: 13px;
  line-height: 28px;
}
.card4 .p2 {
  font-size: 12px;
}
.card4 .btn-outline-warning {
  border-color: #ffd700;
  color: #000;
  padding: 8px 17px 7px 17px;
  background-color: #fff7cc;
}
.screen-4-nav .nav-link {
  background-color: #0a0a0a;
  padding: 10px 21px 9px 21px;
  color: #fff;
  height: 38px;
}
.screen-4-nav .active {
  background-color: #ffd700 !important;
  color: #0a0a0a !important;
}
.screen-4-nav .nav-link:hover {
  background-color: #ffd700 !important;
  color: #0a0a0a !important;
}

.wb-color-1 {
  color: #858585;
}

.card5 {
  background-color: transparent;
}
.card5:hover .card-body {
  border: 1px solid #ffd700;
  background-color: #fff7cc;
  cursor: pointer;
}
.card5 .card-body {
  border: 1px solid #aeb0b7;
  background-color: transparent;
  border-radius: 15px;
}
.card5 h5 {
  font-size: 16px;
}
.card5 .svg-cover {
  width: 60px;
  height: 60px;
  background: #fff7cc;
  border: 1px solid #ffd700;
}
.card5 .links {
  font-size: 13px;
  margin-top: 5px;
}
.card5 .active {
  border: 1px solid #ffd700;
  background-color: #fff7cc;
  border-radius: 15px;
}
.detais-head .card5:hover .card-body {
  border: none;
  background-color: transparent;
}

.search-input .fa-solid {
  position: absolute;
  top: 13px;
  left: 23px;
  color: #0a0a0a;
}
.search-input .form-control {
  background: #f1f2f4;
  border: none;
  font-size: 13px;
  padding: 11px 50px;
}
.card6 {
  height: 169px;
  background-size: cover;
  width: 243px;
  background-position: center;
}
.card6 .card-body {
  text-align: center;
}
.card6 .crd-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 42px;
  height: 42px;
  background: #515151;
  border: 1px solid #515151;
}

.details-head .card5:hover .card-body {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.details-accordion .accordion-button {
  border-color: #aeb0b7;
  border-radius: 15px;
  /* margin-top: 9px; */
  /* border: 1px solid #AEB0B7; */
  box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.125) !important;
}
.details-accordion .accordion-header {
  border-radius: 15px;
}
.details-accordion .accordion-item {
  border-radius: 15px;
  margin-top: 15px;
}
.details-accordion .accordion-item:first-of-type .accordion-button {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.details-accordion .accordion-button:not(.collapsed) {
  color: #0a0a0a;
  background-color: transparent;
  box-shadow: none;
}

.details-accordion .accordion-button:not(.collapsed) {
  font-weight: 600;
}
.details-accordion .accordion-item:last-of-type .accordion-button.collapsed {
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}
.details-accordion .accordion-body {
  border-top: 1px dashed #aeb0b7;
  margin: 0 19px;
  padding: 14px 0px 25px 0px;
  font-size: 13px;
}

/* .accordion-button:not(.collapsed) {
    box-shadow: inset 0 1px 0 rgba(0,0,0,.125) !important;
} */
.details-head .sub-m {
  font-size: 14px;
}
.card7 {
  border-radius: 15px;
}
.card7 p {
  margin: 12px 1px 15px 1px;
  font-size: 15px;
}
.card7 .svg-cover {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  background: #f1f2f4;
}
.btn-warning-faded {
  border-color: #ffd700;
  color: #000;
  padding: 7px 12px 6px 12px;
  background-color: #fff7cc;
  font-size: 13px;
}
.btn-light-faded {
  border-color: transparent;
  color: #000;
  padding: 7px 12px 6px 12px;
  background-color: transparent;
  font-size: 13px;
}
.btn-outline-warning:hover {
  color: #000;
  background-color: #ffefbf;
}
.card-71 {
  border-radius: 15px;
}
.card-71 .bg-secondary {
  border-radius: 15px;
  background-color: #f1f2f4 !important;
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 11px;
}
.card-71 .fa-angles-right {
  position: absolute;
  background: #ffd700;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  line-height: 3px;
}
.card-71 p {
  margin: 0;
  padding-left: 24px;
  font-size: 13px;
}

.faded-nav .nav-link {
  background-color: #f1f2f4;
  font-size: 11px;
  padding: 12px 36px 12px 20px;
  text-align: left;
  margin-bottom: 35px;
  border-radius: 15px;
  position: relative;
}
.faded-nav .nav-link .fa-star {
  width: 41px;
  height: 41px;
  color: #858585;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 17px;
  border-radius: 50%;
}
.faded-nav .nav-link .p1 {
  font-size: 11px;
  color: #858585;
}
.faded-nav .nav-link .p2 {
  color: #000000;
  font-size: 11px;
}
.faded-nav .active {
  background-color: #fff9d9 !important;
}

.faded-nav .nav-link::after {
  content: "";
  background-image: url("../images/icon/line-faded.png");
  height: 50px;
  width: 50px;
  position: absolute;
  top: 65px;
  background-repeat: no-repeat;
  left: 72px;
}
.faded-nav .active::after {
  content: "";
  background-image: url("../images/icon/line-faded-active.png");
  height: 50px;
  width: 50px;
  position: absolute;
  top: 65px;
  background-repeat: no-repeat;
  left: 72px;
}
.faded-nav .nav-link:last-child::after {
  content: "";
  background-image: none;
}
.faded-nav .active .p1 {
  font-size: 11px;
  color: #ae9300;
}
.faded-nav .active .p2 {
  color: #000;
}
.faded-nav .active .fa-star {
  color: #000;
  background: #ffd700;
}
.faded-nav .nav-link:hover {
  background-color: #fff9d9 !important;
}
.faded-nav .nav-link:hover .p1 {
  font-size: 11px;
  color: #ae9300;
}
.faded-nav .nav-link:hover .p2 {
  color: #000;
}
.faded-nav .nav-link:hover .fa-star {
  color: #000;
  background: #ffd700;
}

.sidebar-collapse-item .collapse.show {
  display: block;
  height: 90px;
}
select {
  cursor: pointer;
}

.badge-tooltip .fa-caret-down {
  position: absolute;
  bottom: -9px;
  left: 82px;
  color: #000;
  font-size: 20px;
}
.badge-tooltip {
  width: 170px !important;
  position: absolute;
  top: -23px;
  left: -38px;
  background-color: #000 !important;
  font-size: 11px !important;
  padding: 7px 10px !important;
  display: none;
}
.tooltip-m:hover {
  color: red;
  cursor: pointer;
}
.tooltip-m:hover .badge-tooltip {
  display: block !important;
}
.bg-warning {
  background-color: #ffd700;
}
.muted-card .badge-warning {
  font-size: 9px;
  padding: 5px 9px;
  position: relative;
  top: -3px;
}
@media (max-width: 767px) {
}

@media (min-width: 1400px) {
}
